/* 
 * movie.css
 * Name: Maxwell Haley
 * Date: 2017-10-10
 */
@namespace mov url(./movies.xml);

mov|movie {
	display:block; 
	font-family: Arial, Helvetica, sans-serif;
}

mov|name, mov|date, mov|length  {
	display: inline;
}

mov|name {
	font-style: bold;
}

mov|length {
	font-style: italics; 
	padding-left: 0.5em;
}

/* place namespace escape style below */
mov\:movie {
	display:block; 
	font-family: Arial, Helvetica, sans-serif;
}

mov\:name, mov\:date, mov\:length  {
	display: inline;
}

mov\:name {
	font-style: bold;
}

mov\:length {
	font-style: italics; 
	padding-left: 0.5em;
}